# python==3.12.12

# 核心框架
fastapi==0.104.1
uvicorn[standard]==0.24.0.post1
pydantic==2.12.5

# LangChain 生态
langchain==1.2.7
langchain-community==0.4.1
langchain-openai==1.1.7
langgraph==1.0.7
tiktoken==0.12.0

# 数据处理
numpy==2.3.5
pandas==3.0.0

# 向量数据库
chromadb==1.4.1

# PostgreSql数据库
sqlalchemy==2.0.46
psycopg2-binary==2.9.11

# 文档处理核心
unstructured==0.18.31
pypdf==6.6.2
pymupdf==1.23.8
pdf2image==1.16.3
pillow==12.1.0
opencv-python-headless==4.13.0.90
pdfplumber==0.10.3
python-docx==1.1.0

# 阿里云
dashscope==1.14.0

# 性能优化
redis==7.3.0 # redis服务器>5.0